name: test

on: [ push, pull_request ]

jobs:
  jdk:
    name: "JDK ${{ matrix.feature }} on ${{ matrix.os }}"
    strategy:
      fail-fast: false
      matrix:
        os:  [ ubuntu-latest, macos-latest, windows-latest ]
        feature: [ 16, 15, 14, 13, 12, 11, 10, 9]
        exclude:
          - { os: macos-latest, feature: 13 }
          - { os: macos-latest, feature: 12 }
          - { os: macos-latest, feature: 11 }
          - { os: macos-latest, feature: 10 }
          - { os: macos-latest, feature:  9 }
    runs-on: ${{ matrix.os }}
    steps:
      - name: 'Check out repository'
        uses: actions/checkout@v2

      - name: 'Download JDK'
        id: download-jdk
        uses: sormuras/download-jdk@main
        with:
          feature: ${{ matrix.feature }}

      - name: 'Print outputs'
        run: |
          echo "Outputs"
          echo "env.JDK_VERSION                    = ${{ env.JDK_VERSION }}"
          echo "env.JDK_VERSION                    = ${{ env.JDK_FILE }}"
          echo "steps.download-jdk.outputs.version = ${{ steps.download-jdk.outputs.version }}"
          echo "steps.download-jdk.outputs.file    = ${{ steps.download-jdk.outputs.file }}"

      - name: 'Set up JDK'
        uses: actions/setup-java@v1
        with:
          java-version: ${{ steps.download-jdk.outputs.version }}
          jdkFile: "${{ steps.download-jdk.outputs.file }}"

      - name: 'Print Java version'
        run: java --version
